.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

img{
  width: 100%;
}